###  AI powered Financial Chatbot Prototype

<ol type="1">
    <li> What is the total revenue?</li>
    <li> What is the Net Income?</li>
    <li> What is the sum of total assets?</li>
    <li> What is the sum of total liabilities?</li>
    <li> What is cash flow from operating activities?</li>
    <li> What is the revenue growth(%) ?</li>
    <li> What is the net income growth(%) ?</li>
    <li> What is the assets growth(%) ?</li>
    <li> What is the liabilities growth(%) ?</li>
    <li> What is the cash flow from operations growth(%) ?</li>
    <li> What is the year by year average revenue growth rate(%)?</li>
    <li> What is the year by year average net income growth rate(%)?</li>
    <li> What is the year by year average assets growth rate(%)?</li>  
    <li> What is the year by year average liabilities growth rate(%)?</li>
    <li> What is the year by year average cash flow from operations growth rate(%)?</li>
</ol>

In [11]:
import pandas as pd
data = pd.read_csv('final_data_report.csv')
data_2 = pd.read_csv('reportSummary.csv')

In [13]:
data

,Unnamed: 0,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,2024,245122,88136,512163,243686,118584,Microsoft,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,2023,211915,72361,411976,205753,87582,Microsoft,-13.547132,-17.898475,-19.561546,-15.566344,-26.143493
2,2,2022,198270,72738,364840,198298,89035,Microsoft,-6.438902,0.520999,-11.441443,-3.623276,1.659017
3,3,2023,96773,14974,106618,43009,13256,Tesla,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,2022,81462,12556,82338,36440,14724,Tesla,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
5,5,2021,53821,5519,62131,30548,11497,Tesla,-33.931158,-56.044919,-24.541524,-16.169045,-21.916599
6,6,2024,391035,93736,364980,308030,26102,Apple,0.000000,0.000000,0.000000,0.000000,0.000000
7,7,2023,383285,96995,352583,290437,18679,Apple,-1.981920,3.476786,-3.396624,-5.711457,-28.438434
8,8,2022,394328,99803,352755,302083,19573,Apple,2.881146,2.894995,0.048783,4.009820,4.786123

In [17]:
print("Year by Year Average Growth")
data_2

Year by Year Average Growth

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,Apple,0.299742,2.123927,-1.115947,-0.567212,-7.884103
1,1,Microsoft,-6.662011,-5.792492,-10.334330,-6.396540,-8.161492
2,2,Tesla,-16.584240,-24.064303,-15.771471,-10.480864,-3.614123

 From the website, for microsoft and Apple, 2024, 2023 and 2022 data is available. For Tesla, 2023, 2022 and 2021 data is available.

In [30]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  Microsoft

The data for the fiscal years 2024, 2023, 2022 is currently available.

Enter the fiscal year for the selected company:  2024

Please enter your query

 What is the sum of total assets?

The sum of Total Assets for Microsoft for fiscal year 2024 is $ 512163
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  exit

In [32]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  wow grapes

Enter 'Hi' properly by starting the chatbot session again.

In [34]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  Tesla

The data for the fiscal years 2023, 2022, 2021 is currently available.

Enter the fiscal year for the selected company:  2023

Please enter your query

 What is cash flow from operating activities?

The Cash Flow from Operating Activities for Tesla for fiscal year 2023 is $ 13256
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

Enter company name :  Apple

The data for the fiscal years 2024, 2023, 2022 is currently available.

Enter the fiscal year for the selected company:  2024

Please enter your query

 What is the year by year average cash flow from operations growth rate(%)?

The Year By Year Average Cash Flow from Operations Growth Rate(%) from 2021 to 2023 for Apple is -7.8841(%)
----------------------------------------------------------------------------

Enter Hi to start the chatbot session; type 'exit' to quit):  byee

Enter 'Hi' properly by starting the chatbot session again.